<!DOCTYPE html>
html(lang="en")
    include header.pug
        title Document

    body
        .container
            h1.lg-heading Hello World!
            h2.sm-heading It's a brave new world
            .btn-container
                button.btn.ripple Click Here

        include footer.pug